.container{
    background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2015/10/27/825565/a8f967ede1e1e41abc91787415e3b9ee.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;

}