.container{
    background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2015/10/27/825565/a8f967ede1e1e41abc91787415e3b9ee.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.heading{
    color: white;
    font-size: 3.5rem;
    z-index: 0;
    font-weight: 300;
    line-height: 1.2;
    position: absolute;
    top: 20%;
    left: 51%;
    transform: translate(-50%,-50%);
    
}

.main{
    background-color: black;
    min-height: 100vh;
    
}

.surp{
    position: relative;
    background-color: black;
    color: white;
    font-size: larger;
    border-radius: 10px;
    padding: 10px;
    bottom: 8rem;
    left: 0.5rem;
}

.mtitle{
    width: 50%;
    color: white;
    margin-top: 50px;
    font-size: 3rem;
    position: relative;
    top: 50px;
}